[Unit]
Description=QEMU Negotiator Guest

[Service]
ExecStart=/usr/local/bin/negotiator-guest --daemon
Type=simple

[Install]
WantedBy=multi-user.target
