[Desktop Entry]
Version=1.0
Name=Launch-LSA-JupyterNotebook
Comment=HTRC-JupyterNoteBooks
Exec=/opt/applications/JupyterNotebooks/run.sh
Icon=/opt/applications/JupyterNotebooks/jupyter_icon.png
Terminal=true
Type=Application
Categories=Utility;Application;Bash;