<web-app id="WebApp_ID" version="2.4"
         xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
         
  <display-name>Sloan Web Service</display-name>
  
  <servlet>
    <servlet-name>jersey-servlet</servlet-name>
    <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
    
    <!-- entry point of the ws -->
    <init-param>
      <param-name>javax.ws.rs.Application</param-name>
      <param-value>edu.indiana.d2i.sloan.SloanWSApplication</param-value>
    </init-param>
    
    <!-- json support -->
    <init-param>
		<param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
		<param-value>true</param-value>
	</init-param>
    
    <!-- log file path -->
    <init-param>
      <param-name>log4j.properties.path</param-name>
      <param-value>E:\Java\Server\apache-tomcat-6.0.37\webapps\sloan-ws-1.0-SNAPSHOT\WEB-INF\classes\log4j.properties</param-value>
    </init-param>
    
    <!-- sloan relative parameters -->
    <init-param>
      <param-name>sloan.ws.hyper.timeout.sec</param-name>
      <param-value>30</param-value>
    </init-param>
    <init-param>
      <param-name>sloan.ws.hosts</param-name>
      <param-value>thatchpalm;silverpalm</param-value>
    </init-param>
    <init-param>
      <param-name>sloan.ws.port.range.min</param-name>
      <param-value>2000</param-value>
    </init-param>
    <init-param>
      <param-name>sloan.ws.port.range.max</param-name>
      <param-value>2020</param-value>
    </init-param>
    
    <init-param>
      <param-name>sloan.ws.db.driverclass</param-name>
      <param-value>com.mysql.jdbc.Driver</param-value>
    </init-param>
    <init-param>
      <param-name>sloan.ws.db.jdbcurl</param-name>
      <param-value>jdbc:mysql://localhost:3306/vmdb</param-value>
    </init-param>
    <init-param>
      <param-name>sloan.ws.db.user</param-name>
      <param-value>root</param-value>
    </init-param>
    <init-param>
      <param-name>sloan.ws.db.pwd</param-name>
      <param-value>root</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>jersey-servlet</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>
</web-app>
